body{
    background-color: #ffa1c1;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table td, .table th {
    border: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.table {
    border-collapse: collapse;
    width: 500px;
}

.table thead {
    background-color: #f0f1f4;
}

.table tfoot {
    background-color: #121212;
    color: #fff;
    text-align: right;
}

caption {
    font-size: larger;
}